@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "landing-page";
@import "messages";


.space-buffer {
    margin-top: 24px;
    margin-bottom: 24px;
}

.message-time {
  font-size: 12px;
  font-style: italic;
}
